* {
    font-family: "Geist", sans-serif;
}

.btnColor {
    background-color: #4A00FF;
}

.textColor {
    color: black;
}

.textWhite {
    color: white;
}
.borderColor{
    border-top: #A855F7;
}

.text-align {
    
    align-content: center;
    align-items: center;
}